name: CI/CD Pipeline

on:
  push:
    branches:
      - main
    paths:
      - '**'
      - '!*.md'
      - '!docs/**'

env:
  K8S_NAMESPACE: bed-and-breakfast

jobs:
  build:
    name: CI - Build and Push
    runs-on: ubuntu-latest
    outputs:
      image-tag: ${{ steps.build-push-acr.outputs.image-tag }}
    steps:
      - name: Checkout source code 
        uses: actions/checkout@v3

      - name: ACR build
        id: build-push-acr
        uses: azure/acr-build@v1
        with:
          service_principal: ${{ secrets.service_principal }}
          service_principal_password: ${{ secrets.service_principal_password }}
          tenant: ${{ secrets.tenant }}
          registry: ${{ secrets.registry }}
          repository: ${{ secrets.repository }}
          image: bed-and-breakfast
          folder: app
          branch: main
          tag: ${{ github.sha }}
          git_access_token: ${{ secrets.GITHUB_TOKEN }}  

  deploy:
    name: CD - Deploy to AKS
    needs: build
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout source code 
        uses: actions/checkout@v3

      - name: Azure login
        id: login
        uses: azure/login@v1.4.3
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}

      - name: Set AKS context
        id: set-context
        uses: azure/aks-set-context@v3
        with:
          resource-group: '${{ secrets.resource_group }}' 
          cluster-name: '${{ secrets.cluster_name }}'

      - name: Install Helm
        uses: azure/setup-helm@v4.3.0
        with:
          version: 'latest'

      - name: Deploy with Helm
        run: |
          cd ${{ github.workspace }}
          helm upgrade bed-and-breakfast ./bb-chart \
            --install \
            --create-namespace \
            --namespace ${{ env.K8S_NAMESPACE }} \
            --set image.repository=${{ secrets.registry }}/${{ secrets.repository }} \
            --set image.tag=${{ needs.build.outputs.image-tag }} \
            --set ingress.enabled=true \
            --set ingress.className=webapprouting.kubernetes.azure.com \
            --set ingress.hosts[0].host=bb.upskilling-aks.com \
            --set ingress.hosts[0].paths[0].path=/ \
            --set ingress.hosts[0].paths[0].pathType=ImplementationSpecific \
            --set autoscaling.enabled=true
